@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
 
  flex-direction: column;

}




li,.navitem,button{
  font-family: "Montserrat", sans-serif;
  font-weight :500;
  font-size: 16px;
  color:rgb(212, 219, 219);
  text-decoration: none;
  position: relative;
  background-color:#2b2c2e;

}


header{
  display:flex;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
  background-color:#2b2c2e;
  height: 73px;
}


.logo{
  cursor: pointer;
  margin-right: auto;
}

.navlinks{
  list-style: none;
}

.navlinks li{
  display: inline-block;
  padding: 0px 20px;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
}

.navitem:after{
  content:"";
  position: absolute;
  background-color: #a07699;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.navitem:hover:after{
  width:100%
}


.navlinks li .navitem:hover {
 color: rgb(207, 136, 186);
}

.buttonContainer {
  text-align: center;
}

.loginButton {
  background-image: linear-gradient(
      45deg,
      rgba(100, 57, 242, 1) 0%,
      rgb(242, 55, 117) 50%,
      rgb(83, 55, 242) 100%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  font-weight: 500;
  padding: 9px 25px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  background-size: 200% auto;
  margin-left: 10px;
  width:130px;
}

.loginButton:hover {
  background-position: right center;
}

.loginButton:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: y;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 5px 10px white;
}

.loginButton:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 8px;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}
.col{
  position: absolute;
  width: 330px;
  height: 582px;
  left: 0px;
  top: 73px;
  padding-bottom:15px ;
  overflow-y: scroll;
  background-color: #0f0;
  border: 1px solid black;
}
.col h1{
  margin-left:25px ;
  margin-top: 25px;
  font-size: 50px;

}
.col::-webkit-scrollbar{
  display: none;
}

.items {
position: absolute;
width: 350px;
height:400px;
left: 23px;
top: 104px;
display: flex;
flex-direction: column;
align-items: flex-start;
line-height:3;
border: 1px solid black;
margin-right: 50px;
}
.Playlist{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 276px;
height: 179px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Playlist h4{
  font-size:25px ;
  font-weight: 400;
  padding-bottom: 10px;
  color:#fff ;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: .3s linear;
}
.Playlist h4:hover{
  color: #000;
}
.Playlist h4 span{
  position: relative;
  margin-right:35px ;
}
.Playlist h4 span::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border:2px solid #4c5262 ;
  border-radius: 50%;
  top: -4px;
  transition: .3s linear;
}
.Playlist h4:hover span::before{
 border: 2px solid #fff;
}
.Playlist h4  .bi{
 display: none;

}
.Playlist .active{
 color: #36e2ec;
 
}
.Playlist .active span{
 display: none;
}

.Playlist .active .bi{
 
display: flex;
margin-right:20px ;
 
}
.Playlist ol {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;

width: 300px;
height: 533px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.Playlist ol li {
width: 270px;
height: 75px;
background: #D9D9D9;
border-radius: 30px;
cursor: pointer;
transition: .3s linear;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
position: relative;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


}
.Playlist ol li:hover {
 background: rgb(105, 105, 170,.1);
}

.image{
 position: relative;
width: 99px;
height: 77px;
left: 10px;
top: 7px;
border-radius: 30px;
background-size: cover;
}
.image1{
background-image: url(img/img1.jpg);
}
.image2{
background-image: url(img/img2.png);
}
.image3{
background-image: url(img/img3.png);
}
.image4{
background-image: url(img/img4.png);
}
.image5{
background-image: url(img/img5.jpg);
}
.image6{
background-image: url(img/img6.jpg);
}
.Playlist ol li h5{
  position: absolute;
left: 39%;
right: 23.89%;
top: 20%;
bottom: 58.02%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #000000;
}
.Playlist ol li h6{
  position: absolute;
left: 39%;
right: 29.72%;
top: 50.38%;
bottom: 35.11%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 18px;
/* identical to box height */


color: #000000;

}
.Playlist .image .bi2{
  position: absolute;
  color: #000;
  font-size: 25px;
  left: 220px;
  top: -3px;
  opacity: 0;
}
.Playlist li:hover .bi2{
  opacity: 1;
}
.master{
  display: flex;
  align-items: center;
  padding: 0px 20px;
  position: absolute;
  width: 100%;
  height: 90px;
  left: 0px;
  top: 655px;
  background: #0ff;
  z-index: 3;
   
}
.master .wave{
  width:30px ;
  height:30px;
 /* border: 1px solid #000;*/
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;

}
.master .wave .wave1{
  width:3px ;
  height:10px;
  margin-right:3px ;
  border-radius: 10px 10px 0px 0px ;
  background: #36e2ec;
  animation: unset;

}

.master .wave .wave1:nth-child(2){
  height:13px;
  /*animation-delay:.4s ;*/
}
.master .wave .wave1:nth-child(3){
  height:8px;
  /*animation-delay:.8s ;*/
}
/*java script calss wave*/
.master .active2 .wave1{
  width:3px ;
  height:10px;
  margin-right:3px ;
  border-radius: 10px 10px 0px 0px ;
  background: #36e2ec;
  animation: wave .5s linear infinite;

}
.master .active2 .wave1:nth-child(2){
  animation-delay:.4s ;
}
.master .active2 .wave1:nth-child(3){
  animation-delay:.8s ;
}
@keyframes wave{
  0%{
    height: 10px;
  }
  50%{
    height: 15px;
  }
  100%{
    height: 10px;
  }
}
.master img{
  width: 50px;
  height: 50px;
}
.master h5{
  margin-top: -15px;
 margin-left: 15px;
 }
 .master h6{
  margin-bottom:-35px;
  margin-left: -75px;
 }
 .master .icon {
  font-size: 20px;
  color: #fff;
  margin: 0px 20px 0px 40px ;
 }
 .master .icon .bi{
  cursor: pointer;
  outline:none ;
 }
.master .icon .bi:nth-child(2){
 border: 1px solid rgb(105, 105, 170,.1);
 border-radius: 50%;
 padding: 1px 3px 0px 6px ;
 margin: 0px 5px;
 transition: .3s linear ;

 }
.master span{
 color: #fff;
 width: 32px;
 font-size: 11px;
 font-weight: 400; 
}
.master #currentstart{
margin: 0px 0px 0px 20px;
}
.master .bar{
  position: relative;
  width: 43%;
  height: 2px;
  background: rgb(105, 105,170,.1);
  margin: 0px 15px 0px 10px;
}
.master .bar .bar2{
  position: absolute;
  width: 0%;
  height: 100%;
  background: #36e2ec;
  top: 0;
}
.master .bar .dot{
  position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}
.master .bar .dot::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border:1px solid #36e2ec;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0px 0px 3px #36e2ec;
}
.master .bar input{
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index: 99999;
  transition: 3s linear;
  opacity: 0;

}
.master .vol{
  position: relative;
  width: 100px;
  height: 2px;
  margin-left: 50px;
  background: rgb(105, 105, 170,.1);
}
.master .vol .bi{
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: -17px;
  left: -30px;

}
.master .vol input{
  position: absolute;
  width: 100%;
  top: -10px;
  left: 0;
  cursor: pointer;
  z-index: 99999;
  transition: 3s linear;
  opacity: 0;

}
.master .vol .volbar{
  position: absolute;
  width: 0%;
  height: 100%;
  background: #36e2ec;
  top: 0;
}
.master .vol .dot{
  position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}
.master .vol .dot::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border:1px solid #36e2ec;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0px 0px 3px #36e2ec;
}
.songside{
  position: absolute;
  width: 1205px;
  height: 585px;
  left: 330px;
  top: 70px;
  z-index: 2;
  background: beige;
  background-size: cover;
  overflow-y: scroll;
}
.songside nav{
  border: 1px solid; #fff;
  width: 90%;
  height: 25%;
  margin-top: 5px;
  margin-left: 35px;
  border: 1px solid #000;
  display:flex ;
  align-items: center;
  justify-content: space-between;

}
.songside nav .search{
  position: relative;
  margin-left: 55%;
  width: 40%;
  padding: 1px 10px ;
  border-radius: 20px;
  color: gray;
}
.songside nav .search::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgb(184,184,184,.5);
  backdrop-filter: blur(5px);
  z-index: -1;
}
.songside nav .search .bi{
  font-size: 22px;
  padding: 3px 0px 0px 10px;
}
.songside nav .search input{
  background: none;
  outline: none;
  border: none;
  padding: 0px 10px;
  color: #fff;
  font-size: 20px;

}
.affiche{
  border: 1px solid black;
  width: 100%;
  height: 280px;
  background-size: auto;
  transition:background-image 1s ease-in-out;
}
#affiche{
   cursor: url('img/moon2.png'),auto;
}

.songs{
position: absolute;
width: 97.75%;
height: 350px;
left: 0px;
top: 280px;
border: 1px solid #000;
overflow-x: scroll;
margin-left: 25px;
}
.albums{
position: absolute;
width: 97.75%;
height: 350px;
left: 0px;
top: 650px;
border: 1px solid #0f0;
overflow-x: scroll;
margin-left: 25px;
}
 .items2 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 23px;

position: absolute;
width: 100%;
height: 250px;
border: 1px solid #000;
left: 0px;
top: 95px;
 white-space: nowrap;

}
.songs::-webkit-scrollbar{
  display: none;
}
.albums::-webkit-scrollbar{
  display: none;
}
.items2 .card{
  width: 192px;
height: 207.95px;
position: relative;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(219.34deg, rgba(169, 25, 137, 0.81) 1.73%, rgba(172, 28, 223, 0.81) 49.13%, rgba(247, 0, 222, 0.81) 98.26%);
border-radius: 11.8154px;
transition: transform 0.5s;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.photo .bi{
  position: absolute;
  left: 46%;
  top: 25%;
  font-size: 25px;
  opacity: 0;
  transition: .3s linear;
}
.items2 .card:hover{
   transform: translateY(-10px);

}
.items2 .card:hover .photo .bi{
   opacity: 1;

}
.items2 .card img{
  position: absolute;
width: 161.28px;
height: 114.61px;
left: 15px;
top: 5.91px;

background: #D9D9D9;
border-radius: 11.8154px;
}
.items2 .card h5{
position: absolute;
width: 90%;
border: 1px solid #000;
height: 28px;
left: 10px;
top: 60%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17.7231px;
line-height: 21px;
text-align: center;

color: #000000;

}
.items2 .card h6{
  
position: absolute;
border: 1px solid #000;
width: 90%;
height: 28px;
left: 10px;
top: 75%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14.7692px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #000000;
}

#scrollBtnLeft {
  position: absolute;
  top: 109%;
  left: 10px;
  transform: translateY(-50%);
}

#scrollBtnRight {
  position: absolute;
  top: 109%;
  right: 10px;
  transform: translateY(-50%);
}
#scrollBtnLeft2 {
  position: absolute;
  top: 172%;
  left: 10px;
  transform: translateY(-50%);
}

#scrollBtnRight2 {
  position: absolute;
  top: 172%;
  right: 10px;
  transform: translateY(-50%);
}
