@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --purple1: rgba(17, 16, 46, 1);
    --cyan: #0db5d6;
    --mypink: #be6083;
    --body: #f9f6ff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    background-color: var(--body);
}

button {
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover {
    transition: 0.2s ease-in-out;
    opacity: 0.8;
}

section {
    scroll-margin: 50px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-section {
    background-image: url(img/hero_image.png);
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;
}

.bg-section .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.bg-section h1 {
    font-size: 96px;
}
.bg-section h3 {
    font-size: 32px;
    font-weight: 300;
}
#bg-statement {
    font-size: x-large;
    font-weight: 600;
}

#history {
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.mac-img {
    border-radius: 10px;
    margin-left: 7.5vw;
    margin-right: auto;
    padding: 0;
    width: 84vw;
    height: 90vh;
    margin-bottom: 10vh;
    /*background-image: url(images/mac1.png);
}
.mac-img:hover{*/
    animation: change 20s infinite ease-in-out;
}
/*.mac-img:hover{animation-play-state: paused;}*/

@keyframes change {
    0% {
        background-image: url(img/mac1.png);
        background-repeat: no-repeat;
        background-size: auto;
    }
    20% {
        background-image: url(img/mac3.png);
        background-repeat: no-repeat;
        background-size: auto;
    }
    40% {
        background-image: url(img/mac5.png);
        background-repeat: no-repeat;
        background-size: auto;
    }
    60% {
        background-image: url(img/mac4.png);
        background-repeat: no-repeat;
        background-size: auto;
    }
    80% {
        background-image: url(img/mac6.png);
        background-repeat: no-repeat;
        background-size: auto;
    }
    100% {
        background-image: url(img/mac1.png);
        background-repeat: no-repeat;
        background-size: auto;
    }
}

.music-section {
    padding-top: 30px;
    background: var(--purple1);
}
.music-section .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
}

.ipad-iphone-img {
    margin-top: -400px;
    position: relative;
    top: 25em;
}
.primary-btn {
    background-color: var(--mypink);
    color: white;
    font-size: 1.2em;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.secondary-btn {
    background-color: var(--cyan);
    color: white;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.about-music {
    padding-top: 500px;
    display: grid;
    place-items: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.concert-section {
    background-image: url(img/concert_image.png);
    min-height: 800px;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
}
.concert-section .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}
.bg-section,
.concert-section {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gift-section {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 50px;
}

.gift-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gift-section {
    scroll-margin: 120px;
}

h6 {
    font-size: 12px;

    color: #ffffff;
}

h7 {
    font-size: 10px;
    color: #e095dd;
}

footer {
    position: relative;
    bottom: 0;
    background: #2b2c2e;
    width: 100%;
    height: auto;
    margin-top: 10vh;
    padding-top: 15px;
}
.footer li {
    list-style: none;
}
.footer p {
    left: auto;
    color: #75cef7;
    font-size: 13px;
    margin-bottom: 15px;
}
.footercontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    list-style: none;
    left: auto;
    color: #75cef7;
    font-size: 18px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.socials .socialitem {
    margin: 0 10px;
}
.socials .socialitem {
    list-style: none;
    text-decoration: none;
    color: rgb(243, 234, 243);
}
.socials .socialitem {
    font-size: 1.1rem;
    transition: color 0.4s ease;
}
.socials .socialitem:hover {
    background: -webkit-linear-gradient(#eb2bbbaf, #5fd0e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: 0;
}
.footerbot {
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #1d1d1f;
}

.navitem:hover {
    color: rgb(207, 136, 186);
}

.globeIco {
    width: 40px;
    cursor: pointer;
    margin-right: 20px;
}

.submenuWrapper.open-menu {
    max-height: 400px;
}

.submenu {
    border-radius: 5px;
    padding: 6px 5px 3px;
    background: #2b2c2e;
}

.submenuItem {
    text-decoration: none;
    color: rgb(212, 219, 219);
    text-decoration: dotted;
}

.submenuWrapper {
    position: absolute;
    max-height: 0px;
    top: 110%;
    right: 12%;
    width: 90px;
    overflow: hidden;
    transition: max-height 1.5s;
}

.submenuItem:hover {
    transition: 0.3s;
    color: #a07699;
}

.navitemActive {
    color: rgb(207, 136, 186);
    text-decoration: none;
    cursor: default;
}

.navitem,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(212, 219, 219);
    text-decoration: none;
    position: relative;
    background-color: #2b2c2e;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 5%;
    width: 100%;
    background-color: #2b2c2e;
    height: 43px;
    z-index: 99999;
    position: fixed;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navitem:after {
    content: "";
    position: absolute;
    background-color: #a07699;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navitem:hover:after {
    width: 100%;
}

.navlinks li .navitem:hover {
    color: rgb(207, 136, 186);
}

.buttonContainer {
    text-align: center;
}

.loginButton {
    background-image: linear-gradient(
        45deg,
        rgba(100, 57, 242, 1) 0%,
        rgb(242, 55, 117) 50%,
        rgb(83, 55, 242) 100%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: "Segoe UI", "Helvetica Neue", "Open Sans", sans-serif;
    font-weight: 500;
    padding: 9px 25px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    background-size: 200% auto;
    margin-left: 10px;
    width: 130px;
}

.loginButton:hover {
    background-position: right center;
}

.loginButton:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}