@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-image: url(img/4.jpg);
    background-size: cover;
    flex-direction: column;
}

.globeIco {
    width: 40px;
    cursor: pointer;
    margin-right: 20px;
}

.submenuWrapper {
    position: absolute;
    max-height: 0px;
    top: 110%;
    right: 12%;
    width: 90px;
    overflow: hidden;
    transition: max-height 1.5s;
}

.submenuWrapper.open-menu {
    max-height: 400px;
}

.submenu {
    border-radius: 5px;
    padding: 6px 5px 3px;
    background: #2b2c2e;
}

.submenuItem {
    text-decoration: none;
    color: rgb(212, 219, 219);
    text-decoration: dotted;
}

.submenuItem:hover {
    transition: 0.3s;
    color: #a07699;
}

.navitemActive {
    color: rgb(207, 136, 186);
    text-decoration: none;
    cursor: default;
}

li,
.navitem,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(212, 219, 219);
    text-decoration: none;
    position: relative;
    background-color: #2b2c2e;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 5%;
    width: 100%;
    background-color: #2b2c2e;
    height: 43px;
    z-index: 99999;
    position: fixed;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navitem:after {
    content: "";
    position: absolute;
    background-color: #a07699;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navitem:hover:after {
    width: 100%;
}

.navlinks li .navitem:hover {
    color: rgb(207, 136, 186);
}

.buttonContainer {
    text-align: center;
}

.loginButton {
    background-image: linear-gradient(
        45deg,
        rgba(100, 57, 242, 1) 0%,
        rgb(242, 55, 117) 50%,
        rgb(83, 55, 242) 100%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: "Segoe UI", "Helvetica Neue", "Open Sans", sans-serif;
    font-weight: 500;
    padding: 9px 25px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    background-size: 200% auto;
    margin-left: 10px;
    width: 130px;
}

.loginButton:hover {
    background-position: right center;
}

.loginButton:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: y;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 5px 10px white;
}

.loginButton:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.bodycontent {
    font-family: "Roboto", sans-serif;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    background-image: url(img/8.jpg);
    width: 100%;
}
.card {
    position: relative;
    height: 400px;
    width: 300px;
    margin-right: 3rem;
}

.card:hover .gradient {
    opacity: 1;
}

.gradient {
    position: absolute;
    background-image: linear-gradient(0deg, #785ed4, transparent);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    margin-top: 3rem;
}

.text {
    color: rgb(49, 48, 48);
}

.time {
    position: absolute;
    bottom: 0;
    padding: 2rem;
}

.title {
    font-size: 2.5em;
    font-weight: 700;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    background: -webkit-linear-gradient(#24acc4, #c312f8af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: 0;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343f4f;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
    background: #f2f2f2;
}
.wrapper i:first-child {
    left: -22px;
    display: none;
}
.wrapper i:last-child {
    right: -22px;
}
.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img {
    pointer-events: none;
}
.carousel img {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carousel img:first-child {
    margin-left: 0px;
}
@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

.song-playlists {
    padding: 20px 40px;
}
.song-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}
.song-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.song-playlists .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.song-playlists .list .item:hover {
    background-color: #252525;
}
.song-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}
.song-playlists .list .item .play {
    position: relative;
}
.song-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-image: linear-gradient(
        45deg,
        rgb(144, 113, 247) 0%,
        rgb(235, 91, 139) 50%,
        rgb(119, 100, 226) 100%
    );
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}
.song-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
}
.song-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.song-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}
.song-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}

h2 {
    left: auto;

    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}
h3 {
    left: auto;
    color: #75cef7;
    font-size: 22px;
    margin-bottom: 20px;
}
h4 {
    left: auto;
    color: #ffffff;
    color: #e095dd;
    margin-bottom: 20px;
}
h5 {
    left: auto;
    color: #e095dd;
    margin-bottom: 20px;
}

.premsection {
    display: flex;
    gap: 50px;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
:root {
    --card-height: 50vh;
    --card-width: calc(var(--card-width) / 1.5);
}
.box {
    min-width: 140px;
    width: 500px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.premium {
    background: 191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 2em;
    color: rgb(19, 17, 17);
    cursor: pointer;
    font-family: cursive;
}
.premium:hover {
    color: #785ed4;
    transition: color 1s;
}
.premium:hover:before,
.premium:hover:after {
    animation: none;
    opacity: 80%;
}
.premium::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
        var(--rotate),
        #dd9393,
        #70b7c9 43%,
        #b858a3
    );
    position: absolute;

    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}
.premium::after {
    position: absolute;
    content: "";
    top: (var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
        var(--rotate),
        #b87575,
        rgb(203, 119, 214) 43%,
        rgb(178, 149, 248)
    );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}
@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.reviews {
    padding: 40px 0;
    background: #247477;
    color: #434343;
    text-align: center;
}
.inner {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.border {
    width: 900px;
    height: 6px;
    background: #70b7c9;
    margin: 26px auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col {
    flex: 33.33%;
    gap: 30px;
    display: flex;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.review {
    background: #8abfe2;
    padding: 30px;
}
.review img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: center;
}
.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.stars {
    color: rgb(227, 235, 126);
    margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}
